<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <description>HelloWorld Servlet</description>
        <servlet-class>ro.teamnet.z2h.web.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZeroToHero</servlet-name>
        <description>ZeroToHero Servlet</description>
        <servlet-class>ro.teamnet.z2h.web.ZeroToHeroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ZeroToHero</servlet-name>
        <url-pattern>/zerotohero</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
